body * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  width: 100%;
  padding: 20px 0;
  background: #f2f2ed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80px;
}

.menu_bar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.menu_bar a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin: 20px 0;
  padding: 15px;
  transition: 250ms;
}

.menu_bar a:hover {
  text-decoration: none;
  color: #F23869;
  font-weight: 600;
  margin: 20px 0;
  padding: 15px;
  border-bottom: #F23869 2px solid;
}

.opening {
  padding: 60px;
  
}
.introduce {
  color: #F23869;
  text-align: center;
  margin-bottom: 15px;
}

footer {
  max-height: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;


}
.footer_logo {
  width: 200px;
  padding: 20px;
  background-color: #F23869;
}

.footer_description {
  font-size: 16px;
  padding: 0 40px;
}

#about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  padding: 60px;
  text-align: justify;
}
.about_us {
  background-color: #f2f2ed;
  border-radius: 10px;
  padding: 30px;
}

.headline {
  font-size: 30px;
  color: #F23869;
  margin-bottom: 20px;
}

.title {
  margin: 20px 0;
}