body * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  width: 100%;
  padding: 20px 0;
  background: #f2f2ed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80px;
}

.menu_bar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.menu_bar a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin: 20px 0;
  padding: 15px;
  transition: 250ms;
}

.menu_bar a:hover {
  text-decoration: none;
  color: #F23869;
  font-weight: 600;
  margin: 20px 0;
  padding: 15px;
  border-bottom: #F23869 2px solid;
}

.opening {
  padding: 60px;
  
}
.introduce {
  color: #F23869;
  text-align: center;
  margin-bottom: 15px;
}

footer {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.footer_logo {
  max-width: 200px;
  padding: 20px;
  background-color: #F23869;
}

.footer_description {
  font-size: 16px;
  padding: 0 40px;
  width: 100%;
}

#about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: top;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  text-align: justify;
}
.about_us {
  background-color: #f2f2ed;
  border-radius: 10px;
  padding: 30px;

}

.headline {
  font-size: 30px;
  color: #F23869;
  margin-bottom: 20px;
}

.title {
  margin: 20px 0;
}

.contats {
  max-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  border-left: 2px solid black;
}

.rede_social a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 60px;
  padding: 5px;
}

.rede_social a:hover{
  color: #F23869;
}

ion-icon {
  font-size: 25px;
  
}

.btn_up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F23869;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: white;
}

.btn_up:hover {
  background: linear-gradient(#ff0044, rgb(255, 166, 0));
  color: #202020;
  border: #202020 solid 2px;
}

.up_icon {
  width: 35px;
  height: 35px;
}

/* -------- custom scrollbar -------- */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #202020;
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#F23869, orange);
  border: .25em solid #202020;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#89203c, rgb(154, 112, 35));
}